.character-details-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 35px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
    font-family: 'Arial', sans-serif;
}

.back-button {
    margin-bottom: 20px;
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.back-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.character-card-details {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.character-card-details img {
    width: 300px;
    border-radius: 30px;
}

.character-info h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #343434;
}

.character-info p {
    margin: 5px 0;
    color: rgb(84, 84, 84);
    font-size: 16px;
}
