.character-card {
    background-color: #ffffff;
    border-radius: 35px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 15px;
    width: 250px;
    text-align:left;
    transition: transform 0.2s ease;
}

.character-card:hover {
    transform: scale(1.05);
}

.character-card img {
    width: 100%;
    border-radius: 30px;
}

.text-card {
    color: rgb(130, 129, 129);
    margin-top: 5px;
}

.show-more-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #4caf50;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.show-more-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}
