.character-list {
    text-align: center;
    margin-top: 20px; 
    /* background-color: #0f1015;
    margin: 0; */
}

ul {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    list-style: none;
    padding: 0;
    margin-top: 20px;
    gap: 20px;
}

.load-button {
    background-color: #6e8efb;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 30px auto;
    display: block;
}

.load-button:hover {
    background-color: #a777e3;
}